
/*Geral*/
*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3{
    color: #333;
}

p{
    color: #70747a;
}

/*Navbar*/
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo{
    width: 80px;         
    height: 80px;        
    object-fit: contain; 
    display: inline-block;     
    padding: 10px;
}

.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 25px;
}

/* Adicione esta regra logo abaixo: */
.navbar-items li:last-child {
    margin-right: 0;
}

.navbar-items a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.navbar-items a:hover{
    color: #ccc
}

.default-btn{
    background-color: #2cc76a;
    padding: 15px 20px;
    border-radius: 8px;
}

.default-btn:hover{
    background-color: #22bb5f;
}

/*Main banner*/
.main-banner{
    width: 100%; /* Garante que ele vá de ponta a ponta */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/8_HDC_HOST/img/Screenshot\ 2026-09-08\ at\ 15.03.03.png");
    padding: 10rem 0;
}

.main-banner h1, 
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 4px;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 22px;
}

/*Services*/

.services-container{
    padding: 5rem 0;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #2cc76a;
}

.fa-rocket{
    color: #ef3f29;
}

.fa-comment-alt{
    color: #ef8f29;
}

.services-container h3{
margin-bottom: 25px;
}

.services-container p{
    line-height: 24px;
}

/*Prices and plans*/

.pricing-container{
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2{
    font-size: 32px;
}

.pricing-container p{
    font-size: 20px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}

.plan{
    flex: 1;
    max-width: 275px;
    margin: 20px 0;
    border-radius: 20px;
    border-radius: 12px;
    overflow: hidden;
}

.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;

}

.plan .plan-btn{
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
}

.plan-btn.recommended{
    background-color: #f45c57;
}