body{
    padding-bottom: 500px;
    box-sizing: border-box;
}

.flex{
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/*Flex column*/

.flex-column{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin-bottom: 10px;
}

/*Wrap*/

.wrap{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box{
    height: 40px;
    width: 33%;
    border: 1px solid green;
}
/*Justify Content*/

.center,
.space-around,
.space-between,
.end{
    display: flex;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box{
    width: 50px;
}

.center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.end{
    justify-content: end;
}

/*Align Items*/

.align-center,
.flex-end,
.strech{
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid blue;
}

.align-center .box,
.flex-end .box,
.strech .box{
    width: 50px;
}

.align-center{
    align-items: center;

}

.flex-end{
    align-items: end;
}

.strech{
    align-items: stretch;
}

.strech .box{
    height: auto;
}

.gap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 10px;
}

.gap .box{
    width: 32%;
}

/*Order*/

.order{
    display: flex;
    flex-direction: column;
}

#one{
    order: 1;
}

#two{
    order: 2;
}

#three{
    order: 3;
}

.order #one, #two, #three{
    padding: 20px;
}

.grow{
    display: flex;
    
}

.grow .box{
    flex: 1;
}

.grow .big{
    flex: 2;
}

/*Basis*/

.basis{
    display: flex;
}   

.basis .box{
    flex-basis: 20px;
}

.basis .big{
    flex-grow: 1;
}